# Binários
/backend/bin/
*.exe

# Variáveis de ambiente
.env
.env.*
!.env.example

# Go
vendor/

# IDE
.idea/
.vscode/

# Node / Frontend
front/node_modules/
front/dist/
front/.env
front/.env.*
!front/.env.example
